<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Administração: <%= @page_title || 'EIQ Consultoria' %></title>
	<%= stylesheet_link_tag 'admin' %>
	<%= yield(:editor) %>
	<%= javascript_include_tag :defaults %>
	<%=  yield(:mascara) %>
	<%=  yield(:valida) %>
	
	
</head>