<h1>Detalhando <%= singular_name %></h1>

<% for attribute in attributes -%>
<p>
  <b><%= attribute.column.human_name %>:</b>
  <%%=h @<%= singular_name %>.<%= attribute.name %> if @<%= singular_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to 'Editar', edit_<%= singular_name %>_path(@<%= singular_name %>), :class => 'bt_edit' %> |
<%%= link_to 'Voltar', <%= plural_name %>_path, :class => 'bt_back' %>
